/* r0.html */
.Top {
    display: flex;
    background-color: #747474;
    height: 50px;
}

 .A {
    padding: 15px 260px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;


}

.A:hover {
    text-decoration: underline;
}


.Nav {
    background-color: aqua;
}

#Image_0 {
    display: block;
    margin-top: 10px;
    width: 45%;
    height: 50%;
}

#Text_0 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    padding: 1px 300px;
}

#classic {
    background-color: rgba(170, 173, 149, 0.778);
    font-size: 20px;
    text-decoration: none;
}

#oii {
    text-decoration: none;
}

#oii:hover {
    text-decoration: underline;
}

#Alpha a{
    font-size: 20px;
    text-decoration: none;
    color: #7e2288;
    }
#Alpha a:hover {
    text-decoration: underline;
}

#Fool-nhan {
    background-color: rgb(60, 255, 0);
    height: 60px;
}

/* r1.html */
.strip_yellow {
  background: #fff36a;
}

.picker {
  display: flex;
  gap: 30px;
  padding: 8px 0;
}

.picker__item {
    height: 150px;
    weight:300px;
    margin-right: auto;
}

.video-wrap {
  max-width: 900px;
  width: 100%;
  margin: 12px auto;
  border: 2px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  overflow: hidden;
}
#crapo {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: block;
}
